<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>StatisticOverview</servlet-name>
        <servlet-class>jma.StatisticOverview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JMAParserServlet</servlet-name>
        <servlet-class>jma.JMAParserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JMAXmlServlet</servlet-name>
        <servlet-class>jma.JMAXmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JMAAdminServlet</servlet-name>
        <servlet-class>jma.JMAAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticRemoveServlet</servlet-name>
        <servlet-class>jma.StatisticRemoveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatisticOverview</servlet-name>
        <url-pattern>/StatisticOverview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMAParserServlet</servlet-name>
        <url-pattern>/JMAParserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMAXmlServlet</servlet-name>
        <url-pattern>/jmaslxml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JMAAdminServlet</servlet-name>
        <url-pattern>/jmaadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticRemoveServlet</servlet-name>
        <url-pattern>/StatisticRemoveServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
